// @font-face {
//   font-family: 'Montserrat';
//   src: url('fonts/montserrat-v23-latin_cyrillic-700.woff2') format('woff2'),
//     url('fonts/montserrat-v23-latin_cyrillic-700.woff') format('woff');
// }

//path to fonts relating index.scss

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Bold.woff2') format('woff2'),
      url('fonts/Merriweather-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('fonts/NotoSerif-Bold.woff2') format('woff2'),
      url('fonts/NotoSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('fonts/NotoSerif.woff2') format('woff2'),
      url('fonts/NotoSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}