$orange: #FA6E1C;
$orange-frosted: #FA6E1CBF;
$yellow: #F5B025;
$light-green: #D6E7E2;
$light-frosted: #D6E7E280;
$green: #315E54;
$green-frosted: #315E54BF;
$white: #FFFFFF;
$gray: #837C78;
$gray-light: #BEBEBE;
$correct: #02FFC7;
$wrong: #D5482A;

$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$blur-white: blur(12.5px);
$blur-green: blur(10px);
$border-radius: 8px;

$header-height: 112px;
$footer-height: 60px;